@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff'),
        url('Montserrat-Black.ttf') format('truetype'),
        url('Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.eot');
    src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype'),
        url('Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.eot');
    src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff'),
        url('Montserrat-Thin.ttf') format('truetype'),
        url('Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Bold.eot');
    src: url('CormorantGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Bold.woff2') format('woff2'),
        url('CormorantGaramond-Bold.woff') format('woff'),
        url('CormorantGaramond-Bold.ttf') format('truetype'),
        url('CormorantGaramond-Bold.svg#CormorantGaramond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.eot');
    src: url('CormorantGaramond-Light.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff'),
        url('CormorantGaramond-Light.ttf') format('truetype'),
        url('CormorantGaramond-Light.svg#CormorantGaramond-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Regular.eot');
    src: url('CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Regular.woff2') format('woff2'),
        url('CormorantGaramond-Regular.woff') format('woff'),
        url('CormorantGaramond-Regular.ttf') format('truetype'),
        url('CormorantGaramond-Regular.svg#CormorantGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-SemiBold.eot');
    src: url('CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('CormorantGaramond-SemiBold.woff') format('woff'),
        url('CormorantGaramond-SemiBold.ttf') format('truetype'),
        url('CormorantGaramond-SemiBold.svg#CormorantGaramond-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Macondo';
    src: url('Macondo-Regular.eot');
    src: url('Macondo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Macondo-Regular.woff2') format('woff2'),
        url('Macondo-Regular.woff') format('woff'),
        url('Macondo-Regular.ttf') format('truetype'),
        url('Macondo-Regular.svg#Macondo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibes-Regular.eot');
    src: url('GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
        url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff'),
        url('GreatVibes-Regular.ttf') format('truetype'),
        url('GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Medium.eot');
    src: url('CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('CormorantGaramond-Medium.woff2') format('woff2'),
        url('CormorantGaramond-Medium.woff') format('woff'),
        url('CormorantGaramond-Medium.ttf') format('truetype'),
        url('CormorantGaramond-Medium.svg#CormorantGaramond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

