<section class="sc-couple">
  <div class="container">
    <div class="couple-wrapper">
      <div class="couple-image groom-image">
        <img src="./assets/img/img_groom.png" alt="" />
      </div>
      <div class="couple-name">Teguh Prasetyo</div>
      <div class="couple-desc">
        Putra dari Bapak Jumbadi (Alm) <br />& Ibu Hj Samiatun
      </div>
      <div class="couple-and">and</div>
      <div class="couple-image bride-image">
        <img src="./assets/img/img_bride.png" alt="" />
      </div>
      <div class="couple-name">Yulia Yesi</div>
      <div class="couple-desc">
        Putri dari Bapak Kasmuri <br />& Ibu Robi'atun
      </div>
    </div>
  </div>
</section>
