<section class="sc-doa">
  <div class="container">
    <div class="doa-content">
      <h2>Doakan Kami</h2>
      <p>
        “Semoga Allah menghimpun yang terserak dari keduanya, memberkati mereka
        berdua dan kiranya Allah meningkatkan kualitas keturunan mereka,
        menjadikannya pembuka pintu rahmat, sumber ilmu dan hikmah serta pemberi
        rasa aman bagi umat.”
      </p>
      <p>
        (Doa Nabi Muhammad SAW, pada pernikahan putrinya Fatimah Azzahra dengan
        Ali Bin Abi Thalib)
      </p>
    </div>
  </div>
</section>
