<section class="sc-event">
  <div class="container">
    <div class="event-content">
      <div class="event-title">Save The Date</div>
      <div class="event-image">
        <img src="./assets/img/img_event.png" alt="" />
      </div>
      <div class="event-date">
        <p>Akad Nikah</p>
        <p>KAMIS, 18 APRIL 2024</p>
        <p>09.00 WIB</p>
      </div>
      <div class="event-address">
        Jalan K.H. Hasyim Asyari Nomor 02, RT 04 RW 06 Kelurahan Manyar
        Kecamatan Sekaran, Lamongan
      </div>
      <a
        class="button button-primary mx-auto"
        href="https://maps.app.goo.gl/DyFUP2T6B6rncX8x7"
        target="_blank"
        >Lihat Peta</a
      >
      <div class="event-space"></div>
      <div class="event-date">
        <p>Resepsi</p>
        <p>KAMIS, 18 APRIL 2024</p>
        <p>10.00 WIB - Selesai</p>
      </div>
      <div class="event-address">
        Jalan K.H. Hasyim Asyari Nomor 02, RT 04 RW 06 Kelurahan Manyar
        Kecamatan Sekaran, Lamongan
      </div>
      <a
        class="button button-primary mx-auto"
        href="https://maps.app.goo.gl/DyFUP2T6B6rncX8x7"
        target="_blank"
        >Lihat Peta</a
      >
    </div>
  </div>
</section>
