<section class="sc-gift">
  <div class="container">
    <div class="gift-title">
      <img
        class="animate__animated animate__infinite animate__pulse animate__slow"
        src="./assets/img/plant.png"
      />
      <span>Gift</span>
    </div>
    <p>
      Tanpa mengurangi rasa hormat kami bagi tamu yang ingin mengirimkan hadiah
      kepada kedua mempelai dapat mengirimkannya melalui:
    </p>
    <div class="gift-box gift-left">
      <h4>BANK BCA - 1342881518</h4>
      <h5>Teguh Prasetyo</h5>
      <button class="button button-primary" id="copyBca">
        <i class="far fa-copy"></i> Salin
      </button>
    </div>

    <div class="gift-box gift-left">
      <h4>BANK BRI - 629501042982536</h4>
      <h5>Yulia Yesi</h5>
      <button class="button button-primary" id="copyBri">
        <i class="far fa-copy"></i> Salin
      </button>
    </div>

    <div class="gift-box gift-left">
      <h4>Alamat Pengiriman Hadiah Fisik</h4>
      <h5>Yulia Yesi</h5>
      <p>
        Perumahan Gn. Muria, Jln Muria 1 No. 13 RT 08 RW 19, Kelurahan Larangan
        Kec. Harjamukti - Cirebon. 45141
      </p>
      <button class="button button-primary" id="copyAddress">
        <i class="far fa-copy"></i> Salin
      </button>
    </div>
  </div>
</section>
