<section
  class="sc-hero"
  style="background-image: url(./assets/img/bg_hero.png)"
>
  <div class="swiper swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/img/banner_hero_1.png" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/banner_hero_2.png" />
      </div>
    </div>
  </div>
  <div class="bg-overlay"></div>
  <div class="hero-content">
    <div class="text-label">the wedding of</div>
    <div class="text-initial">Teguh & Yesi</div>
    <div class="text-date">Kamis, 18 April 2024</div>
  </div>
</section>
