<section class="sc-opening">
  <div class="countdown-wrapper">
    <div class="container">
      <h2 class="countdown-title">countdown time</h2>
      <div class="countdown-content" id="countdown">
        <div class="time">
          <h3 id="days">00</h3>
          <p>Days</p>
        </div>
        <div class="time">
          <h3 id="hours">00</h3>
          <p>Hours</p>
        </div>
        <div class="time">
          <h3 id="minutes">00</h3>
          <p>Minutes</p>
        </div>
        <div class="time">
          <h3 id="seconds">00</h3>
          <p>Seconds</p>
        </div>
      </div>
    </div>
  </div>
  <div class="opening-wrapper">
    <div class="container">
      <div class="opening-text">
        <p>Assalamu'alaikum wr wb</p>
        <p>
          Segala Puji Bagi Allah SWT yang telah menjadikan hambanya hidup
          berpasang-pasangan. Dengan memohon Ridho, Rahmat, dan Berkah Allah
          SWT, kami bermaksud untuk mengundang Saudara/i dalam acara pernikahan
          yang kami selenggarakan.
        </p>
      </div>
    </div>
  </div>
</section>
