// #### COLOR ####

$clr-white: #ffffff !default;
$clr-gray-10: #fcfcfc !default;
$clr-gray-20: #fafafa !default;
$clr-gray-50: #f2f2f2 !default;
$clr-gray-70: #f9f9f9 !default;
$clr-gray-100: #e5e5e5 !default;
$clr-gray-200: #cccccc !default;
$clr-gray-300: #b3b3b3 !default;
$clr-gray-400: #999999 !default;
$clr-gray-500: #808080 !default;
$clr-gray-600: #666666 !default;
$clr-gray-700: #4d4d4d !default;
$clr-gray-800: #333333 !default;
$clr-gray-900: #191919 !default;
$clr-black: #0f0f0f !default;

$clr-blue: #00296b !default;
$clr-cyan: #4cc9f0 !default;

$clr-primary: #b7b1a4 !default;
$clr-secondary: #8c806e !default;
$clr-primary-white: #f5f3ee !default;

$clr-danger: #820300 !default;
$clr-success: #5f8670 !default;
